$primary: #03448c;

$footer-padding: 3rem 1.5rem 4rem;

$body-family: "Noto Sans KR", sans-serif;

@import "bulma/bulma.sass";

.logo h1 {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

$width-sizes: 400px, 500px, 600px, 700px, 800px;

@each $size in $width-sizes {
  .max-#{$size} {
    max-width: $size;
  }
}

.title-image {
    padding-bottom: 2em;
}

.narrow-background {
    display: table;
    padding: 0.1em;
}

.post-tags .post-tag {
    font-size: 0.9rem;
}

.post-tags .post-tag a {
    color: inherit;
}

.post-tags .post-tag:hover {
    text-decoration: underline;
}

.post-card .post-tags .post-tag:not(:first-child) {
    margin-left: 0.75rem;
}

.post-card .content:not(:last-child) {
    margin-bottom: 1rem;
}

.post-meta {
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}

.post-meta .post-category {
    font-size: inherit;
    padding-left: 0.60em;
    padding-right: 0.60em;
    height: 1.6em;
    vertical-align: unset;
    align-items: unset;
}

.main-title {
    letter-spacing: 0.1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.post-meta .post-category a {
    color: inherit;
}

.post-meta a:hover {
    text-decoration: underline;
}

a.title:hover {
    color: $primary-dark;
}

.term {
    position: relative;
    left: -0.3rem;
}

.term a {
    color: inherit;
    //text-decoration: underline;
}

.utterances {
    transition: height 0.66s linear;
    height: 0;
}

.term a:hover {
    color: $primary-dark;
}

.is-align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.is-width-full {
    width: 100%;
}
