//$primary: #1a535c;

$footer-padding: 3rem 1.5rem 4rem;
@import "bulma/bulma.sass";

.logo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.max-800px {
    max-width: 800px;
}

.title-image {
    padding-bottom: 2em;
}

.narrow-background {
    display: table;
    padding: 0.1em;
}

.post-tags .post-tag {
    font-size: 0.9rem;
    //letter-spacing: 1px;
}

.post-tags .post-tag a {
    color: inherit;
}

.post-tags .post-tag:hover {
    text-decoration: underline;
}

.post-tags .post-tag:not(:first-child) {
    margin-left: 0.75rem;
}

.post-meta .post-category {
    font-size: 0.9rem;
    padding-left: 0.60em;
    padding-right: 0.60em;
    height: 1.6em;
    //letter-spacing: 1px;
}

.post-meta .post-category a {
    color: inherit;
}

.post-meta a:hover {
    text-decoration: underline;
}
