{{ $count := .Get "count" | default 6 }}
{{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}

<div class="container">
    <section class="section">
        <h2 class="title has-text-centered">Recent Posts</h2>
        <div class="max-800px is-align-center post-card-columns">
            {{ range first $count $pages }}
            <div class="post-card-column">
                {{ partial "widgets/post-card.html" (dict "context" .) }}
            </div>
            {{ end }}
        </div>
    </section>
</div>