{{ $permalink := .Permalink }}
<div class="card">
    <div class="card-content">
        <div class="title mb-1">
            <a class="title is-4" href="{{ .Permalink }}">
            {{ .Title }}
            </a>
        </div>
        <span class="heading mb-3">
            <time>{{ .PublishDate.Format "2006/01/02"}}</time>
        </span>
        <div class="content">
            {{ .Summary }}
        </div>
        <div class="tags">
            {{ range .Params.categories }}
            <a class="tag is-light is-primary is-radiusless" href="/categories/{{ . | urlize}}">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</div>