{{ $permalink := .Permalink }}
<div class="card card-small">
    <div class="card-content">
        <a class="title is-5" href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="heading">
            <time>{{ .PublishDate.Format "2006/01/02" }}</time> ・
            {{ with .Params.categories }}
                {{ $category := index . 0 }}
                <a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
            {{ end }}
        </span>
    </div>
</div>