{{ $simple := .simple | default false }}
{{ with .context }}
{{ $permalink := .Permalink }}
<div class="post-card card mx-0 {{ if not $simple }}my-2{{ else }}my-0{{ end }}">
    {{ if not $simple }}
        {{ with .Params.Images }}
            <div class="card-image">
                <a href="{{ $permalink }}">
                    <figure class="image is-3by1">
                        <img src="{{ index . 0 }}" style="object-fit: cover;">
                    </figure>
                </a>
            </div>
        {{ end }}
    {{ end }}
    <div class="card-content">
        <div class="mb-1">
            <a class="title is-4" href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </div>
        <div class="post-meta columns m-0 is-mobile is-flex-wrap-wrap {{ if not $simple }}mb-4{{ else }}mb-0{{ end }}">
            <div class="column is-narrow pl-0 pr-1 pt-1 pb-0">
                <time>{{ .PublishDate.Format "2006/01/02" }}</time> ・
            </div>
            {{ with .Params.categories }}
            <div class="column is-narrow px-0 pt-1 pb-0">
                {{ $category := index . 0 }}
                <span class="tag post-category">
                    <a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
                </span>
                {{ end }}
            </div>
        </div>
        {{ if not $simple }}
        <div class="post-summary content">
            {{ if .Params.titlemath | default false }}
            <span class="math-center">
                <code>
                    {{ .Params.titlemath }}
                </code>
            </span>
            {{ end }}
            {{ .Summary }}
        </div>
        {{ end }}
        {{ if .Params.tags }}
        <div class="post-tags columns is-flex-wrap-wrap is-multiline is-mobile is-justify-content-flex-end {{ if not $simple }}pt-3{{ else }}pt-4{{ end }}">
            {{ range .Params.tags }}
            <span class="post-tag column is-narrow has-text-grey p-0">
                <a class="" href="/tags/{{ . | urlize}}">{{ print "#" . }}</a>
            </span>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}