{{ $simple := .simple | default false }}
{{ with .context }}
{{ $permalink := .Permalink }}
<div class="card mx-0 {{ if not $simple }}my-3{{ else }}my-0{{ end }}">
    {{ if not $simple }}
        {{ with .Params.Images }}
            <div class="card-image">
                <a href="{{ $permalink }}">
                    <figure class="image is-3by1">
                        <img src="{{ index . 0 }}" style="object-fit: cover;">
                    </figure>
                </a>
            </div>
        {{ end }}
    {{ end }}
    <div class="card-content">
        <div class="mb-3">
            <a class="title {{ if not $simple }}is-3 is-size-4-mobile{{ else }}is-4{{ end }}" href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </div>
        <div class="post-meta {{ if not $simple }}mb-4{{ else }}mb-0{{ end }}">
            <time>{{ .PublishDate.Format "2006/01/02" }}</time> ・
            {{ with .Params.categories }}
                {{ $category := index . 0 }}
                <span class="tag post-category">
                    <a class="" href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
                </span>
            {{ end }}
        </div>
        {{ if not $simple }}
        <div class="post-summary content">
            {{ .Summary }}
        </div>
        {{ end }}
        {{ if .Params.tags }}
        <div class="post-tags columns is-flex-wrap-wrap-reverse is-multiline is-mobile is-justify-content-flex-end has-text-grey mt-0">
            {{ range .Params.tags }}
            <span class="post-tag column is-narrow is-primary is-light p-0 mt-3">
                <a class="" href="/tags/{{ . | urlize}}">{{ print "#" . }}</a>
            </span>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}