{{ define "main" }}
<div class="container">
    <section class="section">
        <div class="title is-3 has-text-centered pb-5">
            {{ .Title }}
        </div>
        {{ with .Content }}
        <div class="content">
            {{ . }}
        </div>
        {{ end }}
        <div class="columns is-align-center is-multiline max-500px">
            {{ range .Data.Terms.Alphabetical }}
            <div class="column is-full p-2">
                <div class="box p-4">
                    <div class="columns is-mobile is-vcentered">
                        <div class="column has-text-left">
                            <a class="title is-5 is-size-6-mobile" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        </div>
                        <div class="column is-narrow">
                            {{ $pageCount := len .Pages }}
                            <a class="tag" href="{{ .Page.Permalink }}">
                                {{ $pageCount }} post{{ if ne $pageCount 1 }}s{{ end }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}